<h1 class="text-center">My Trades</h1>
  <div class="card">
    <ul>
      <% @trades.each do |trade| %>
      <li> <%= trade.volume %> of <%= trade.start_currency.name %></li>
      <%end  %>
    </ul>

  </div>

  <div class="card">
    <div class="chart">
      <% @trades.each do |trade| %>
        <%= trade.end_currency.name %>
      <%end  %>
    </div>
  </div>
