// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$background-color: #181C1F;
$dark-font-color: #878B93;
$chart-color: #548E89;
$card-color: #383D41;
$white-font-color: #FFFFFF;
