// Specific CSS for your home-page
.banner {
  width: 100%;
  background-color: cover;
  background-position: center;
  padding: 50px 0;
  height: 100vh;
  background-size: contain;
  background: linear-gradient();

  h1 {
    color: rgb(253, 253, 253);;
    font-size: 80px;
    font-weight: bold;
  }

  p {
    font-size: 35px;
    color: rgb(253, 253, 253);
    opacity: .9;
    text-shadow: 1px 1px 1px black;
    padding: 15px 0;
    font-weight: bold;
    font-style:italic;
  }
}
