.content-container {
  background-color: #181C1F;

}

h1 {
  color: white;
  font-family: PT Serif;

}
.user {
border-radius: 8px;
margin: 0 auto;
font-family: PT Serif;
background-color:  #548E89;
padding-top: 10px;
padding-bottom: 20px;
border-radius: 8px;
font-family: PT Serif;
border-bottom: white;
margin-bottom: 20px;
margin-top: 20px;
max-width: 400px;
text-align: center;

}





.container {
 .row {
    box-sizing: border-box;
    text-align: center;
}
}
