body {
  background-color: #181C1F;
}

.upload-container {
  text-align: center;
  align-items: center;
  padding: 175px 0;
}

.upload-card {
  border: 1px solid #878B93;
  background-color: #383D41;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
}
