.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.card {
  background-color: #383D41;
  border-radius: 8px;
  margin-top: 20px;
  padding:10px;
}

.chat-card {
  padding-top: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-control {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat-card .messages {
  max-height: 60vh;
  overflow-y: scroll;
}

.message {
  padding-top: 10px;

  p {
    margin-bottom: 0;
  }
}
