h2 {
  font-family: PT Serif;
}

h4 {
  font-family: PT Serif;
}

.card {
 background-color: #383D41;
  border-radius: 8px;
  margin-top: 20px;
  font-family: PT Serif;
  padding:10px 10px 10px 10px !important;
}
#new_message {
  margin: 0;
  padding: 0;
}

.container {
  color: rgb(255, 255, 255);
  margin-bottom: 0;

}
