<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i1.wp.com/blogs.cfainstitute.org/investor/files/2021/06/down-the-cryptocurrency-rabbit-hole.png?zoom=2&resize=893%2C546&ssl=1);">
  <div class="container">
  <h1>Crypto4you</h1>
  <p>Organize and structure your crypto investments</p>
  <p>A simple and effective way to structure your crypto investments.<br>
    We help you to have more transparency over your taxes and to<br> simply
    store your trades with a convenient structure to get a great<br> overview
    over your trades and taxes.</p>
  </div>
  <div class= "btn btn-flat">
  </div>
</div>
