<div class="container home-animation">
  <main>
    <header>
      <h2 class="subheader">— Crypto4You</h2>
      <h1>Organize and structure your crypto investments</h1>
      <p>A simple and effective way to highlight your crypto investments.
        We help you to have more transparency over your taxes and to simply store your trades in a convenient way to get a great review over your trades and taxes. </p>
    </header>

    <img src="https://images.unsplash.com/photo-1558459654-c430be5b0a44?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=960&h=500" alt="" />
    <section>
    </section>
    <div class="callout">
   <%= image_tag "portfolio.png", alt: "", width: 2000 %>
  </main>
</div>
