<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/photos/bitcoin-cryptocurrency-futuristic-innovation-digital-picture-id1297074905?b=1&k=20&m=1297074905&s=170667a&w=0&h=pHcAAJHae3yjXVcOwnu0lCAPClwLxy6HUn4OitrBiic=);">
  <div class="container">
  <h1>Crypto4you</h1>
  <p>Organize and structure your crypto investments</p>
  <p>A simple and effective way to highlight your crypto investments.<br>
    We help you to have more transparency over your taxes and to<br>
    simply store your trades in a convenient way to get a great<br>
    review over your trades and taxes.</p>
  </div>
</div>
