.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  background:  #181C1F;

  a.nav-link {
    font-size: 18px;
    color: white;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    height: 50px;
    width: 125px;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
