.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  background:  #181C1F;
  border-bottom: 1px solid #878B93;
  padding: 0px 50px;

  a.nav-link {
    font-size: 20px;
    color: white;
    &:hover{
      color: rgb(175, 175, 175) !important;
    }
  }

  a.nav-link:hover {
    opacity: white;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    height: 75px;
    width: 150px;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
