.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    height: 50px;
    width: 125px;
  }

  a {
    font-size: 18px;
  }
}
